@tailwind base;
@tailwind components;
@tailwind utilities;

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

th,
td,
tr {
    border: 1px dotted gray !important;
}

.banner {
    width: 95%;
    height: 2%
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.deals>th {
    border: 1px solid black
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}